.env
# HOST_GUIDE.md
# /infra
/data/*

__pycache__
*.pyc
.ipynb_checkpoints
.vscode
.DS_Store

.terraform
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.terragrunt-cache
*.terragrunt-tfstate-backups
*.terraformrc
*.terragruntrc
*.terraform-version
*.terraform.lock.hcl
*.terraform.tfvars
*.env
.env
/python
*.zip
logs/